/* PALETTES Colors */

$neutro: #261e2c;
$primary-color: #18141b;
$secondary-color: #211b26;
$tertiary-color: #28212e;

/* TEMPLATES */

$border: 1px solid #8f8f8f;
$radius: 2px;
* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    font-family: 'Open Sans', system-ui, -apple-system, BlinkMacSystemFont, 'Segoe UI', Roboto, Oxygen, Ubuntu, Cantarell, 'Helvetica Neue', sans-serif;
}

html {
    font-size: 62.5%;
}

input,
button,
select {
    border: none;
    outline: none;
    background: transparent;
    color: #fff;
}

body {
    display: flex;
    align-items: center;
    justify-content: center;
    gap: 12px;
    width: 100vw;
    min-width: 250px;
    height: 100vh;
    min-height: 250px;
    padding: 20px 25px;
    padding-right: 50px;
    font-size: 1.6rem;
    background-color: $primary-color;
    color: #fff;
    * {
        letter-spacing: .02rem;
    }
}

.line {
    width: 100%;
    height: 0px;
    border-top: $border;
    margin-block: 8px 4px;
}

@mixin shadow {
    filter: drop-shadow(6px 5px 2px rgba(0, 0, 0, .5));
}

@mixin visible-tooltip {
    visibility: visible;
    opacity: 1;
    &.right {
        left: 140%;
    }
    &.top {
        bottom: 140%;
    }
    &.bottom {
        top: 140%;
    }
    &.left {
        right: 140%;
    }
}

.tooltip-content {
    position: relative;
    text-transform: capitalize;
    &:hover {
        .tooltip {
            @include visible-tooltip;
        }
    }
}

.tooltip {
    position: absolute;
    opacity: 0;
    visibility: hidden;
    padding: 1rem 1.5rem;
    background: transparent;
    text-align: center;
    transition: all .3s;
    pointer-events: none;
    z-index: 500;
    font-size: 1.4rem;
    white-space: nowrap;
    background-color: $secondary-color;
    border-radius: radius;
    font-weight: 400;
    color: #fff;
    @include shadow;
    &.right {
        left: 120%;
        top: 50%;
        transform: translateY(-50%);
    }
    &.top {
        bottom: 120%;
        left: 50%;
        transform: translateX(-50%);
    }
    &.bottom {
        top: 120%;
        left: 50%;
        transform: translateX(-50%);
    }
    &.left {
        right: 120%;
        top: 50%;
        transform: translateY(-50%);
    }
}

.bt {
    &.input {
        display: flex;
        align-items: center;
        justify-content: center;
        height: 30px;
        width: 50px;
        cursor: pointer;
        border-radius: $radius;
        transition: .3s;
        &.primary {
            background-color: #178617;
            &:hover {
                background-color: #105a10;
            }
            &:active {
                background-color: #1faa1f;
            }
        }
        &.secondary {
            background-color: #194699;
            &:hover {
                background-color: #12316b;
            }
            &:active {
                background-color: #245dc7;
            }
        }
        &.tertiary {
            background-color: #8d1919;
            &:hover {
                background-color: #631111;
            }
            &:active {
                background-color: #b92222;
            }
        }
    }
}

.panel-settings {
    position: absolute;
    display: none;
    flex-direction: column;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
    padding: 8px;
    width: 80%;
    max-width: 400px;
    height: 80%;
    max-height: 450px;
    @include shadow;
    background-color: $secondary-color;
    &.active {
        display: flex;
    }
    .header-settings {
        display: flex;
        align-items: baseline;
        justify-content: space-between;
        font-size: 2rem;
        margin: 0 0 8px 8px;
    }
    .settings {
        position: relative;
        height: 100%;
        overflow-x: hidden;
        overflow-y: auto;
        padding-block: 8px;
        border-top: $border;
        border-bottom: $border;
        .list {
            display: flex;
            flex-direction: column;
            gap: 8px;
            .input-box {
                display: flex;
                flex-direction: column;
                gap: 4px;
                .input-box-header {
                    font-size: 1.5rem;
                }
                input,
                select {
                    padding: 6px 8px;
                    background-color: $primary-color;
                    border-radius: $radius;
                    font-size: 1.2rem;
                    color: #fff;
                }
                label {
                    margin-left: 4px;
                    font-size: 1.3rem;
                }
                .input-checkbox {
                    display: flex;
                    align-items: center;
                    gap: 4px;
                }
            }
        }
    }
    .actions {
        display: flex;
        justify-content: end;
        gap: 8px;
        padding: 8px 8px 0 0;
    }
}

.panel {
    position: relative;
    display: flex;
    flex-direction: column;
    gap: 12px;
    height: 100%;
    width: 100%;
    pointer-events: all;
    cursor: all;
    &.focus-out {
        opacity: .8;
        cursor: default;
        pointer-events: none;
    }
    .actions-menu {
        position: absolute;
        display: flex;
        flex-direction: column;
        gap: 8px;
        left: calc(100% + 8px);
        width: 30px;
        .bt.icon {
            width: 100%;
            @include shadow;
            img {
                width: 100%;
                cursor: pointer;
            }
        }
    }
    .session {
        width: 100%;
        background-color: $secondary-color;
        @include shadow;
        font-size: 1.4rem;
        &.input-question-box {
            input {
                border: none;
                padding: 8px;
                width: 100%;
                height: 100%;
                font-size: 1.3rem;
            }
        }
        &.panel-chat {
            position: relative;
            height: 100%;
            overflow-x: hidden;
            overflow-y: auto;
            .list {
                position: absolute;
                display: flex;
                flex-direction: column;
                gap: 12px;
                width: 100%;
                min-height: 100%;
                padding: 12px;
                text-align: justify;
                .block-question {
                    position: relative;
                    display: flex;
                    flex-direction: column;
                    gap: 12px;
                    margin-bottom: 8px;
                    &::after {
                        position: absolute;
                        content: '';
                        left: 0;
                        width: 100%;
                        height: 1px;
                        border: 10px;
                        bottom: -10px;
                        background-color: #676979;
                    }
                    .post {
                        display: flex;
                        flex-direction: column;
                        gap: 2px;
                        .message {
                            width: fit-content;
                            width: -moz-fit-content;
                            padding: 12px;
                            border-radius: $radius;
                            background-color: $primary-color;
                            font-size: 1.2rem;
                        }
                        &.question {
                            width: 100%;
                            align-items: flex-end;
                        }
                    }
                }
            }
        }
    }
}

::-webkit-scrollbar {
    background: transparent;
    width: 5px;
}

::-webkit-scrollbar-thumb {
    background-color: $primary-color;
}