/* PALETTES Colors */
/* TEMPLATES */
* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
  font-family: "Open Sans", system-ui, -apple-system, BlinkMacSystemFont, "Segoe UI", Roboto, Oxygen, Ubuntu, Cantarell, "Helvetica Neue", sans-serif;
}

html {
  font-size: 62.5%;
}

a,
input,
button,
select {
  border: none;
  outline: none;
  background: transparent;
  color: #fff;
  text-decoration: none;
}

body {
  width: 100vw;
  min-width: 250px;
  height: 100vh;
  min-height: 250px;
}
body * {
  letter-spacing: 0.02rem;
}

.app {
  display: flex;
  align-items: center;
  justify-content: center;
  gap: 12px;
  width: 100%;
  height: 100%;
  padding: 20px 25px;
  padding-right: 50px;
  font-size: 1.6rem;
  background-color: #18141b;
  color: #fff;
}
.app a {
  color: #c477ff;
}
.app a:hover {
  color: white;
}

.line {
  width: 100%;
  height: 0px;
  border-top: 1px solid #8f8f8f;
  margin-block: 8px 4px;
}

.tooltip-content {
  position: relative;
}
.tooltip-content:hover .tooltip {
  visibility: visible;
  opacity: 1;
}
.tooltip-content:hover .tooltip.right {
  left: 140%;
}
.tooltip-content:hover .tooltip.top {
  bottom: 140%;
}
.tooltip-content:hover .tooltip.bottom {
  top: 140%;
}
.tooltip-content:hover .tooltip.left {
  right: 140%;
}

.tooltip {
  position: absolute;
  opacity: 0;
  visibility: hidden;
  padding: 1rem 1.5rem;
  background: transparent;
  text-align: center;
  transition: all 0.3s;
  pointer-events: none;
  z-index: 500;
  font-size: 1.2rem;
  white-space: nowrap;
  background-color: #211b26;
  border-radius: radius;
  font-weight: 400;
  color: #fff;
  filter: drop-shadow(6px 5px 2px rgba(0, 0, 0, 0.5));
}
.tooltip.right {
  left: 120%;
  top: 50%;
  transform: translateY(-50%);
}
.tooltip.top {
  bottom: 120%;
  left: 50%;
  transform: translateX(-50%);
}
.tooltip.bottom {
  top: 120%;
  left: 50%;
  transform: translateX(-50%);
}
.tooltip.left {
  right: 120%;
  top: 50%;
  transform: translateY(-50%);
}

.list {
  display: flex;
  flex-direction: column;
  gap: 8px;
}

.bt.input {
  display: flex;
  align-items: center;
  justify-content: center;
  height: 30px;
  width: 50px;
  cursor: pointer;
  border-radius: 2px;
  transition: 0.3s;
}
.bt.input.primary {
  background-color: #178617;
}
.bt.input.primary:hover {
  background-color: #105a10;
}
.bt.input.primary:active {
  background-color: #1faa1f;
}
.bt.input.secondary {
  background-color: #194699;
}
.bt.input.secondary:hover {
  background-color: #12316b;
}
.bt.input.secondary:active {
  background-color: #245dc7;
}
.bt.input.tertiary {
  background-color: #8d1919;
}
.bt.input.tertiary:hover {
  background-color: #631111;
}
.bt.input.tertiary:active {
  background-color: #b92222;
}

.window-modal {
  position: absolute;
  display: none;
  flex-direction: column;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);
  padding: 8px;
  width: 80%;
  max-width: 400px;
  height: 80%;
  max-height: 450px;
  filter: drop-shadow(6px 5px 2px rgba(0, 0, 0, 0.5));
  background-color: #211b26;
}
.window-modal.active {
  display: flex;
}
.window-modal .header-model {
  display: flex;
  align-items: baseline;
  justify-content: space-between;
  font-size: 2rem;
  margin: 0 0 8px 8px;
}
.window-modal .box {
  display: flex;
  flex-direction: column;
  gap: 1rem;
}
.window-modal .box .box-header {
  font-size: 1.5rem;
  margin-left: 4px;
}
.window-modal .box .box-content {
  font-size: 1.3rem;
  margin-inline: 8px 16px;
  text-align: justify;
}
.window-modal .box .list {
  gap: 4px;
}
.window-modal .list-content {
  position: relative;
  height: 100%;
  overflow-x: hidden;
  overflow-y: auto;
  padding-block: 8px;
  border-top: 1px solid #8f8f8f;
  border-bottom: 1px solid #8f8f8f;
}
.window-modal .actions {
  display: flex;
  justify-content: end;
  gap: 8px;
  padding: 8px 8px 0 0;
}

.panel-settings .box .box-content {
  display: flex;
  flex-direction: column;
  gap: 4px;
}
.panel-settings .box input,
.panel-settings .box select {
  padding: 6px 8px;
  background-color: #18141b;
  border-radius: 2px;
  font-size: 1.2rem;
  color: #fff;
}
.panel-settings .box label {
  margin-left: 4px;
  font-size: 1.3rem;
}
.panel-settings .box .input-checkbox {
  display: flex;
  align-items: center;
  gap: 4px;
}

.panel-about .box .list {
  gap: 4px;
}

.panel {
  position: relative;
  display: flex;
  flex-direction: column;
  gap: 12px;
  height: 100%;
  width: 100%;
  pointer-events: all;
  cursor: all;
}
.panel.focus-out {
  opacity: 0.8;
  cursor: default;
  pointer-events: none;
}
.panel .actions-menu {
  position: absolute;
  display: flex;
  flex-direction: column;
  gap: 8px;
  left: calc(100% + 8px);
  width: 30px;
}
.panel .actions-menu .bt.icon {
  width: 100%;
  filter: drop-shadow(6px 5px 2px rgba(0, 0, 0, 0.5));
}
.panel .actions-menu .bt.icon img {
  width: 100%;
  cursor: pointer;
}
.panel .session {
  width: 100%;
  background-color: #211b26;
  filter: drop-shadow(6px 5px 2px rgba(0, 0, 0, 0.5));
  font-size: 1.4rem;
}
.panel .session.input-question-box input {
  border: none;
  padding: 8px;
  width: 100%;
  height: 100%;
  font-size: 1.3rem;
}
.panel .session.panel-chat {
  position: relative;
  height: 100%;
  overflow-x: hidden;
  overflow-y: auto;
}
.panel .session.panel-chat .list {
  position: absolute;
  display: flex;
  flex-direction: column;
  gap: 12px;
  width: 100%;
  min-height: 100%;
  padding: 12px;
  text-align: justify;
}
.panel .session.panel-chat .list .block-question {
  position: relative;
  display: flex;
  flex-direction: column;
  gap: 12px;
  margin-bottom: 8px;
}
.panel .session.panel-chat .list .block-question::after {
  position: absolute;
  content: "";
  left: 0;
  width: 100%;
  height: 1px;
  border: 10px;
  bottom: -10px;
  background-color: #676979;
}
.panel .session.panel-chat .list .block-question .post {
  display: flex;
  flex-direction: column;
  gap: 2px;
}
.panel .session.panel-chat .list .block-question .post .message {
  width: fit-content;
  width: -moz-fit-content;
  padding: 12px;
  border-radius: 2px;
  background-color: #18141b;
  font-size: 1.2rem;
}
.panel .session.panel-chat .list .block-question .post.question {
  width: 100%;
  align-items: flex-end;
}

::-webkit-scrollbar {
  background: transparent;
  width: 5px;
}

::-webkit-scrollbar-thumb {
  background-color: #18141b;
}/*# sourceMappingURL=style.css.map */